# -- Domain used for BigBang created exposed services
domain: dev.bigbang.mil

global:
  imagePullSecrets:
    - name: private-registry

istio:
  enabled: false
  # -- Default peer authentication values
  hardened:
    enabled: false
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
    customServiceEntries: []
      # - name: "allow-google"
      #   enabled: true
      #   spec:
      #     hosts:
      #       - google.com
      #     location: MESH_EXTERNAL
      #     ports:
      #       - number: 443
      #         protocol: TLS
      #         name: https
      #     resolution: DNS
    customAuthorizationPolicies: []
    # - name: "allow-nothing"
    #   enabled: true
    #   spec: {}
  mtls:
    # -- STRICT = Allow only mutual TLS traffic,
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT
  # -- Headlamp UI specific VirtualService values
  headlamp:
    # -- Toggle VirtualService creation
    enabled: true
    annotations: {}
    labels: {}
    gateways:
      - istio-system/public
    hosts:
      - headlamp.{{ .Values.domain }}

networkPolicies:
  enabled: false
  controlPlaneCidr: 0.0.0.0/0
  ingressLabels:
    app: public-ingressgateway
    istio: ingressgateway
  additionalPolicies: []

# Toggles networkpolicy needed for openshift
openshift: false

# -- Monitoring toggle, affects servicemonitor and networkPolicies
monitoring:
  enabled: false
  serviceMonitor:
    scheme: ""
    tlsConfig: {}

# Alias for prometheus-blackbox-exporter
metrics:
  # -- Toggle Prometheus Blackbox Exporter Installation
  enabled: false
  port: 9115
  # -- Exporter imagePullSecrets
  global:
    imagePullSecrets:
      - name: private-registry
  image:
    registry: registry1.dso.mil
    repository: ironbank/opensource/prometheus/blackbox_exporter
    tag: v0.27.0
    pullSecret: private-registry
  # -- Pod securityContext
  podSecurityContext:
    runAsGroup: 1000
  # -- Container securityContext
  securityContext:
    runAsUser: 1000
    runAsGroup: 1000
  config:
    modules:
      http_2xx:
        prober: http
        timeout: 5s
        http:
          method: GET

# Values for bigbang helm tests
bbtests:
  enabled: false
  cypress:
    artifacts: true
    envs:
      cypress_url: "http://headlamp.headlamp.svc.cluster.local:4466"
    resources:
      requests:
        cpu: "1"
        memory: "2Gi"
      limits:
        cpu: "1"
        memory: "2Gi"

waitJob:
  enabled: true
  permissions:
    apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch

bigbang:
  rbac:
    enabled: false
    clusterRoles:
      - name: read-1
        create: true
        rules:
          - apiGroups:
              - ""
            resources:
              - namespaces
              - pods
              - nodes
            verbs:
              - get
              - list
              - watch

    clusterRoleBindings:
      - name: read-1
        roleRef: read-1
        subjects:
          - kind: ServiceAccount
            name: dev-sa
            namespace:

upstream:
  image:
    registry: registry1.dso.mil
    repository: ironbank/opensource/headlamp-k8s/headlamp
    pullPolicy: Always
    tag: "v0.36.0"
    pullSecrets:
      - private-registry

  imagePullSecrets:
    - name: private-registry

  nameOverride: "headlamp"

  config:
    # base url path at which headlamp should run
    # Note: Do not include a trailing slash in the baseURL configuration.
    # Example: "/headlamp"
    baseURL: ""
    oidc:
      clientID: ""

  securityContext:
    capabilities:
      drop:
        - ALL

  service:
    port: 4466

  clusterRoleBinding:
    # -- Specified whether a cluster role binding should be created
    create: true
    # -- Set name of the Cluster Role with limited permissions from you cluster
    # for example - clusterRoleName: user-ro
    clusterRoleName: cluster-admin
    # -- Annotations to add to the cluster role binding
    annotations: {}
