# -- Istio configuration; see bb-common istio docs for details: https://repo1.dso.mil/big-bang/product/packages/bb-common/-/tree/main/docs/istio?ref_type=heads
# @default -- Istio disabled
istio:
  enabled: false

# -- Network Policy configuration; see bb-common network policy docs for details: https://repo1.dso.mil/big-bang/product/packages/bb-common/-/tree/main/docs/network-policies?ref_type=heads
# @default -- Basic configuration necessary for headlamp to function standalone.
networkPolicies:
  enabled: false
  egress:
    from:
      headlamp:
        to:
          definition:
            kubeAPI: true

# -- Routes configuration; see bb-common routes docs for details: https://repo1.dso.mil/big-bang/product/packages/bb-common/-/tree/main/docs/routes?ref_type=heads
routes: {}

# -- Domain used for BigBang created exposed services
domain: dev.bigbang.mil

global:
  imagePullSecrets:
    - name: private-registry


# Toggles networkpolicy needed for openshift
openshift: false

# -- Monitoring toggle, affects servicemonitor and networkPolicies
monitoring:
  enabled: false
  serviceMonitor:
    scheme: ""
    tlsConfig: {}

# Values for bigbang helm tests
bbtests:
  enabled: false
  cypress:
    artifacts: true
    envs:
      cypress_url: "http://headlamp.headlamp.svc.cluster.local:4466"
    resources:
      requests:
        cpu: "1"
        memory: "2Gi"
      limits:
        cpu: "1"
        memory: "2Gi"

waitJob:
  enabled: true
  permissions:
    apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch

bigbang:
  rbac:
    enabled: false
    clusterRoles:
      - name: read-1
        create: true
        rules:
          - apiGroups:
              - ""
            resources:
              - namespaces
              - pods
              - nodes
            verbs:
              - get
              - list
              - watch

    clusterRoleBindings:
      - name: read-1
        roleRef: read-1
        subjects:
          - kind: ServiceAccount
            name: dev-sa
            namespace:

upstream:
  image:
    registry: registry1.dso.mil
    repository: ironbank/opensource/headlamp-k8s/headlamp
    pullPolicy: Always
    tag: "v0.39.0"
    pullSecrets:
      - private-registry

  imagePullSecrets:
    - name: private-registry

  nameOverride: "headlamp"

  config:
    # base url path at which headlamp should run
    # Note: Do not include a trailing slash in the baseURL configuration.
    # Example: "/headlamp"
    baseURL: ""
    oidc:
      clientID: ""

  securityContext:
    capabilities:
      drop:
        - ALL

  service:
    port: 4466

  clusterRoleBinding:
    # -- Specified whether a cluster role binding should be created
    create: true
    # -- Set name of the Cluster Role with limited permissions from you cluster
    # for example - clusterRoleName: user-ro
    clusterRoleName: cluster-admin
    # -- Annotations to add to the cluster role binding
    annotations: {}
