{{- if and (default false (default dict .Values.istio).enabled) (default false (default dict .Values.istio.hardened).enabled) -}}
apiVersion: security.istio.io/v1
kind: AuthorizationPolicy
metadata:
  name: monitoring-{{ .Chart.Name }}-authz-policy
  namespace: {{ $.Release.Namespace }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Chart.Name }}
  action: ALLOW
  rules:
  - from:
    - source:
        namespaces:
        - monitoring
    - source:
        principals:
        - cluster.local/ns/monitoring/sa/monitoring-monitoring-prometheus-blackbox-exporter
    to:
    - operation:
        ports:
        - "4466"
{{- end }}